/node_modules
/public/hot
/public/img/portfolio/*
/public/img/product/*
/public/img/requirements/*
/public/img/vendorbid/*
/public/storage
/storage/*.key
/storage/*
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.gitattributes
/.editorconfig
/.idea/vcs.xml
/.idea/workspace.xml
/readme.md
/nbproject/private/
/nbproject/*
/composer.lock
/.idea/php.xml
/public/img/product/*
/public/img/*
/public/temp-json/*
